<!DOCTYPE html>
<html lang="en">
{{> dashboard_head}}

<body class="">
    {{> dashboard_sidebar}}
  <div id="main" class="main-content">
  
    {{> dashboard_nav}}
    {{> dashboard_header}}
    <div class="container-fluid mt--7">
      <div class="row">

      </div>
      {{> dashboard_footer}}
    </div>
  </div>

  {{> dashboard_scripts}}
</body>

</html>