<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  {{#if project}}
  <link rel="stylesheet" type="text/css" href="/js/{{project}}/css/style.css">
  {{else}}
  <link rel="stylesheet" type="text/css" href="/js/css/style.css">
  {{/if}}
  <title>Abra Autoloader</title>
</head>
<body>